<p>video-container works!</p>
<div style="display: flex; width: 100%;" class="thumbnail-container">
    <div class="thumbnail" *ngFor="let source of sources; index as i">
      <video width="100" height="100" [src]="source" [ngStyle]="{'border': i == activeSource ? '2px solid red' : 'none'}"></video>
    </div>
</div>
<div style="width: 100%">
  <video muted #video loop autoplay [src]="sources[activeSource]" [playbackRate]="playbackRate">
      <!-- <source [src]="sources[activeSource]" /> -->
  </video>
</div>
